---
Checks: >
    *
    -abseil-*,
    -fuchsia-*,
    -hicpp-*,

    -altera-struct-pack-align,

    -android-cloexec-fopen,

    -bugprone-reserved-identifier,

    -cert-dcl37-c,
    -cert-dcl51-cpp,

    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,

    -clang-diagnostic-empty-translation-unit,
    -clang-diagnostic-missing-braces,
    -clang-diagnostic-unused-parameter,

    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-no-malloc,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-special-member-functions,

    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-const-cast,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-type-vararg,


    -google-explicit-constructor,
    -google-readability-namespace-comments,
    -google-readability-todo,

    -llvm-else-after-return,
    -llvm-header-guard,
    -llvm-include-order,
    -llvmlibc-*,
    -llvm-namespace-comment,

    -misc-no-recursion,
    -misc-non-private-member-variables-in-classes,
    -misc-unused-parameters,

    -modernize-avoid-c-arrays,
    -modernize-redundant-void-arg,
    -modernize-use-auto,
    -modernize-use-trailing-return-type,
    -modernize-use-using,

    -performance-inefficient-string-concatenation,
    -performance-no-int-to-ptr,

    -readability-else-after-return,
    -readability-implicit-bool-conversion,
    -readability-make-member-function-const,
    -readability-redundant-control-flow,
    
    -concurrency-mt-unsafe,
    -cert-err58-cpp,

CheckOptions:
  - key:      readability-function-cognitive-complexity.Threshold
    value:    '35'

...
