[submodule "external/tooling/aglet"]
	path = external/tooling/aglet
	url = https://github.com/caseif/Aglet.git
[submodule "external/libs/lua"]
	path = external-bindings/lua/lua
	url = https://github.com/lua/lua.git
