[submodule "external/tooling/aglet"]
	path = external/tooling/aglet
	url = git@github.com:caseif/Aglet.git
[submodule "external/libs/lua"]
	path = external/libs/lua
	url = git@github.com:lua/lua.git
[submodule "external/libs/sdl2"]
	path = external/libs/sdl2
	url = https://github.com/libsdl-org/SDL.git
